* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

h1, h2, h3, h4, h5, h6 {
    padding-bottom: 20px;
}

a {
    color: #3a3a3a;
    text-decoration: none;
}

/*-------Hilfsklassen-------*/

.standard-container {
    max-width: 1080px;
    margin: 0 auto;
}

/*--------Navigationsleiste---------*/

#main-nav {
    background-color: #3a3a3a;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1.0);

}

#main-nav a {
    color: white;
}

#main-nav ul {
    float: right;
    list-style: none;
}

#main-nav li {
    float: left;

}

#main-nav ul li a{
    display: block;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    margin: auto;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.0);
} 

#main-nav ul li a:hover {
    background-color: coral;

}

#main-nav::after {
    content: "";
    display: block;
    clear: both;
}

#logo {
    float: left;
    width: 90px;
    height: 61px;
}

body {
    background-color: rgb(95, 95, 95);
    color: white;
}

.main-head-text h1 {
    text-align: center;
    margin-top: 50px;
    font-family: cursive;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.0);
}

.main-text {
    max-width: 1000px;
    margin: 20px auto;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.0);
}

.main-text::after {
    content: "";
    display: block;
    clear: both;
}

#pieps {
    width: 200px;
}


.lang {
    max-width: 1080px;
    min-width: 1080px;
    height: 150px;
    margin: 0 auto;
    background-color: #3a3a3a;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1.0);
    
}


.lang img {
    margin-top: 30px;
    height: 100px; /* Optional: Setze die Höhe der Bilder auf eine gewünschte Größe */
}

#py {
    margin-left: 100px;
}

#rust {
    margin-left: 100px;
}

#html {
    margin-left: 100px;
}

#css {
    margin-left: 100px;
}

#js {
    margin-left: 100px;
}

.code-img {
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    height: auto;
    border-radius: 20px;
    max-width: 1080px;
    min-width: 1080px;
    background-color: #3a3a3a;
    margin-bottom: 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1.0);
}

.code-img img{
    height: 500px;
    margin-left: 50px;
}

.code-img::after{
    content: "";
    display: block;
    clear: both;
}

.footer-main {
    background-color: #3a3a3a;
    height: 61px;
}

.footer-main p {
    font-style: italic;
    text-align: center;
    padding-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.0);
}


/* Breite der Scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Chrome, Safari, Opera */
  }
  
  /* Farbe der Scrollbar */
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Farbe des Scrollbalkens */
  }
  
  /* Farbe bei Mouse-Over */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Farbe des Scrollbalkens bei Mouse-Over */
  }
  
  /* Hintergrundfarbe der Scrollbar */
  ::-webkit-scrollbar-track {
    background-color: #3a3a3a; /* Hintergrundfarbe der Scrollbar */
  }

body {
    overflow-x: hidden;
}

/* Allgemeine CSS-Regeln für alle Geräte */

/* CSS-Regeln für Geräte mit einer maximalen Breite von 768px (Tablets und Mobiltelefone) */
@media (max-width: 768px) {
    .standard-container {
        max-width: 90%; /* Beispiel: Verringere die Containerbreite auf 90% */
    }

    .lang {
        min-width: 100%; /* Beispiel: Setze die Mindestbreite des Elements auf 100% */
    }

    .lang img {
        height: 80px; /* Beispiel: Verringere die Höhe der Bilder auf 80px */
    }
    
    /* Weitere spezifische CSS-Regeln für mobile Geräte hier einfügen */
}

/* CSS-Regeln für Geräte mit einer maximalen Breite von 480px (kleinere Mobiltelefone) */
@media (max-width: 480px) {
    /* Spezifische CSS-Regeln für kleinere mobile Geräte hier einfügen */
}
