* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    color: rgb(255, 255, 255);
    background-color: black;
    overflow: hidden;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-style: italic;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 700;
    filter: drop-shadow(0 0 5 #09001d);
}

.navbar a {
    font-style: italic;
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    margin-left: 35px;
    transition: .5s;
}

.navbar a:hover,
.navbar a.active {
    color: rgb(9, 255, 0);
}

.main {
    min-height: 100vh;
    background: url('/img/pexels-photo-707915.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    pointer-events: auto;
    transition: 0.5s ease;
}

.main.active {
    filter: blur(15px);
    pointer-events: none;
}

.container {
    display: flex;
    height: 100vh;
    width: 200%;
}

.home {
    position: relative;
    left: -50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.home-content h1 {
    font-style: italic;
    font-size: 78px;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

.home-content p {
    font-size: 25px;
    text-align: center;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
    font-weight: 500;
    padding: 15px;
    border-radius: 10px;
}

.start-btn {
    color: white;
    width: 190px;
    height: 55px;
    background: rgba(0, 0, 0, 0.3);
    border: 2px solid;
    border-color: aliceblue;
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
    outline: none;
    border-radius: 10px;
    box-shadow:0 0 10px #09001d;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s;
}

.home-content .start-btn:hover {
    background:rgba(255, 255, 255, 0.3);
    box-shadow: none;
}

.popup-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    width: 500px;
    background: rgba(0, 0, 0, 0.822);
    border-radius: 10px;
    padding: 10px 25px;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease;
}

.popup-info.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.popup-info h2 {
    font-size: 50px;
    color: white;
}

.popup-info .info {
    display: inline-block;
    font-size: 16px;
    color: white;
    margin: 4px 0;
}


.popup-info .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ffffff77;
    margin-top: 10px;
    padding: 15px 0 7px;

}

.popup-info .btn-group .info-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    background: rgba(0, 0, 0, 0);
    border: 2px solid rgba(255, 255, 255, 0.6);
    outline: none;
    border-radius: 10px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: white;
    box-shadow: 0 0 10px rgba(rgba(0, 0, 0, 0));
    cursor: pointer;
    transition: 0.5s;
}

.popup-info .btn-group .info-btn:nth-child(1) {
    background: transparent;
    color: white;
}

.popup-info .btn-group .info-btn:nth-child(1):hover {
    background: rgba(255, 255, 255, 0.3);
    color: white;
}

.popup-info .btn-group .info-btn:nth-child(2):hover {
    background: rgba(255, 255, 255, 0.3);
    color: white;
}

.quiz-section {
    background: url('/img/IMG_9771.png') no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    right: -50%;
    /*right: 0; */
    width: 100%;
    /*background: #000000; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: .8s ease-in-out;
    transition-delay: .25s;
}

.quiz-section.active {
    right: 0;
}

.quiz-section .quiz-box {
    position: relative;
    width: 500px;
    background: rgba(0, 0, 0, 0.8);
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    opacity: 0;
    pointer-events: none;
    transform: scale(.9);
    transition: .3s ease;
    transition-delay: 0s;
}

.quiz-section .quiz-box.active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    transition: 1s ease;
    transition-delay: 1s;
}

.quiz-box h1 {
    font-size: 30px;
    text-align: center;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, 0.6), transparent);
    border-radius: 10px;
}

.quiz-box .quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 3px solid rgba(255, 255, 255, 0.4);
}


.quiz-header span {
    font-size: 20px;
    font-weight: 500;
}

.quiz-header .header-score {
    background: rgba(255, 255, 255, 0.300);
    border-radius: 10px;
    padding: 5px;
}

.quiz-box .question-text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.4);
}

.option-list .option {
    margin-top: 10px;
    width: 100%;
    padding: 15px;
    color: white;
    border: 3px solid rgba(255, 255, 255, 0.301) solid;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, 0.5), transparent);
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;

}

.quiz-footer {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    background: #ffffff00;
}

.quiz-footer .next-btn {
    border-radius: 10px;
    color: white;
    width: 100px;
    height: 30px;
    border:3px solid rgba(255, 255, 255, 0.301) solid;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    cursor: pointer;
    pointer-events: none;
    transition: 0.5s;
}


.option-list .option:hover {
    background: rgba(255, 255, 255, 0.4);
}

.option-list .option.richtig {
    background: rgba(0, 255, 0, 0.3);
    color: rgb(0, 255, 0);
}

.option-list .option.falsch {
    background: rgba(255, 0, 0, 0.3);
    color: red;
}

.option-list .option.lock-options {
    pointer-events: none;
}


.quiz-footer .next-btn.active {
    pointer-events: auto;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    color: rgb(255, 255, 255);
}

.quiz-footer .next-btn.active:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.quiz-section .result-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    width: 500px;
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .5s ease;
}

.quiz-section .result-box.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.result-box h2 {
    font-size: 50px;
}

.result-box .percentage-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 40px;
}



.percentage-container .score-text {
    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;
}

.result-box .buttons {
    display: flex;
}

.result-box .pieps {
    height: 300px;
}

.buttons button {
    width: 150px;
    height: 50px;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    border: 2px solid white;
    outline: none;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    margin: 0 20px;
    cursor: pointer;
    transition: .5s;
}

.buttons button:nth-child(1) {
    background-color: rgba(255, 255, 255, 0);
}

.buttons button:nth-child(2) {
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    pointer-events: none;
    transition: 0.5s;
}

.buttons button:nth-child(2).active {
    pointer-events: auto;
}

.buttons button:nth-child(1):hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.buttons button:nth-child(2):hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.quiz-section .code-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background: gray;
    border: 2px solid;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .5s ease;
}

.code-popup h2 {
    padding: 10px;
    border-radius: 20px;
    border: 2px solid;
    background: linear-gradient(45deg, transparent, rgb(0, 0, 0), transparent);
}

.code-popup .pieps2 {
    height: 200px;
}

.code-popup .score-text {
    display: flex;
    font-size: 25px;
    font-weight: 500;
    align-items: center;
    background: linear-gradient(45deg, transparent, rgb(0, 0, 0), transparent);
    border: 2px solid;
    border-radius: 20px;
    padding: 5px;
}


.quiz-section .code-popup.active {
    opacity: 1;
}
