@import url("./basic.css");

body {
    background: var(--mainBackgroundColor);
    color: var(--mainTextColor);
    font-family: var(--mainTextStyle);
    overflow-x: hidden;
}

.Logo-picture {
    width: 100%;
}

.head-img img {
    width: 100%;
}

.greeting {
    margin-top: 50px;
    top: 40%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    filter: drop-shadow(2px 2px 8px black);
}

@media (max-width: 1200px) {
    .greeting {
        top: 20%;
    }
}

@media (max-width: 650px) {
    .greeting {
        font-size: 1.5rem;
    }
}

@media (max-width: 499px) {
    .greeting {
        top: 8%;
        font-size: 1.0rem;
    }
}