* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: header;
    src: url('../fonts/BungeeShade-Regular.ttf');
}

@font-face {
    font-family: mainText;
    src: url('../fonts/BungeeSpice-Regular.ttf');
}

:root {
    /*Background Colors*/
    --mainBackgroundColor: black;

    /*Fonts*/
    --headingFont: header;
    --textFont: mainText;
}

body {
    background: rgb(0, 0, 0);
    overflow-x: hidden;
}

h1 {
  font-family: var(--headingFont);
    font-size: 2rem;
    color: yellow;
  }
  
  h2 {
    font-family: var(--textFont);
    font-size: 2rem;
    margin-bottom: 20px;
}

p {
  font-family: var(--textFont);
  font-size: 1rem;
  margin-bottom: 20px;
}

.line {
  margin: 5px;
  height: 3px;
  width: 50%;
  border-radius: 100%;
  background-color: rgb(98, 255, 98);
  box-shadow: 0px 2px 8px yellow;
}

.vertical-line {
  margin-left: 50%;
  height: 100px;
  width: 3px;
  border-radius: 100%;
  background-color: rgb(98, 255, 98);
}

::-webkit-scrollbar {
    width: 5px;
    height: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #444444a8;
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #02020200;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #3a3a3a00;
  }