* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: header;
    src: url('../fonts/BungeeShade-Regular.ttf');
}

@font-face {
    font-family: mainText;
    src: url('../fonts/BungeeSpice-Regular.ttf');
}

:root {
    /*Background Colors*/
    --mainBackgroundColor: black;

    /*Fonts*/
    --headingFont: header;
    --textFont: mainText;
}

body {
    background: rgb(0, 0, 0);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
    height: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #444444a8;
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #02020200;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #3a3a3a00;
  }