@import url('./basic.css');
@import url('./heading.css');

.line {
    margin: 5px;
    height: 2px;
    width: 70%;
    background-color: rgb(98, 255, 98);
    box-shadow: 0px 2px 8px yellow;
}

.main {
    display: grid;
    margin-top: 100px;
    margin-bottom: 100px;
    grid-template-columns: repeat(3, 1fr);
}

.circle1 {
    height: 450px;
    width: 450px;
    border-radius: 100%;
    background-color: rgb(255, 51, 0);
    box-shadow: 0px 0px 10px red, 10px 10px 50px red, -10px -10px 50px red;
}

.circle2 {
    height: 450px;
    width: 450px;
    border-radius: 100%;
    background-color: rgb(255, 123, 0);
    box-shadow: 0px 0px 10px red , 10px 10px 10px red inset, -10px -10px 10px red inset;
    animation: rotateRight 120s infinite;
}

.circle3 {
    background-image: url('../logos/Solarsystemscope_texture_8k_sun.jpg');
    height: 430px;
    width: 430px;
    border-radius: 100%;
    background-color: rgb(255, 238, 0);
    box-shadow: 0px 0px 10px orange , 10px 10px 10px orange inset, -10px -10px 10px orange;
    animation: rotateLeft 120s infinite;
}

.circle1, .circle2, .circle3 {
    filter: url("#turbulence");
}

svg {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
}

@keyframes rotateLeft {
    from { transform: rotateZ(0deg); }
    to { transform: rotateZ(-360deg); }
}

@keyframes rotateRight {
    from { transform: rotateZ(0deg); }
    to { transform: rotateZ(360deg); }
}

@media (max-width: 450px) {
    .circle1 {
        height: 320px;
        width: 320px;
    }
    .circle2 {
        height: 320px;
        width: 320px;
    }
    .circle3 {
        height: 300px;
        width: 300px;
    }
}