@import url("./basic.css");

.main {
    display: grid;
    grid-template-columns: 1fr;
}

.main-content {
    margin: 30px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    border: 1px solid black;
    background: var(--basicBackgroundColor);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.main-content.active {
    opacity: 1;
    transition: opacity 1s ease-in;
}

.main-content.inactive {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.main-content-text {
    filter: drop-shadow(2px 2px 8px black);
}

.main-content-sub img {
    box-shadow: var(--boxShadow);
    max-width: 100%;
}

@media (max-width: 1400px) {
    .main-content {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 700px) {
    .main-content {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
}